.idea
.vscode
.fleet

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
__pycache__
chromedriver

# Custom
.DS_Store
assets/.tmp
node_modules
engine/chromedriver
engine/package.json
imgs
logs
temp_cache

# temp shit
*.tmp.*
.tmp/*
tmp

*.bat
test/*.png
classified
_*
assets

# dont need to edit anymore
config.json
*.json
assets/input/proxies.txt
assets/fingerprints/safari.json
assets/fingerprints/macos.json
assets/fingerprints/login.json
assets/fingerprints/chrome.json
assets/input/proxies.txt
assets/output/unlocked.txt
cmd/engine/config.json

assets/scrapped

scripts/datasetBuilder/output
scripts/datasetBuilder/input/scrapper
scripts/datasetBuilder/input/unlabeled

*.png
*.jpg
*.jpeg